/********** Typography **********/

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
}

.save-big {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  color: $color-black;
}
@media (min-width: 1300px) {
  .save-big {
    font-size: 3.4rem;
  }
}

.phone-header {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: $color-white;
  text-decoration: none;
  transition: color 0.3s;
  padding-right: 2rem;
  display: inline-block;
  letter-spacing: 0.2rem;
}
@media (min-width: 1300px) {
  .phone-header {
    font-size: 3.4rem;
    padding-right: 0;
  }
}

.main-headline {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 5vw;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px #555;
}
@media (min-width: 1300px) {
  .main-headline {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    text-shadow: none;
  }
}

.main-sub-headline {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 4vw;
  margin-bottom: 5rem;
}
@media (min-width: 1300px) {
  .main-sub-headline {
    font-size: 3.6rem;
  }
}

.features__headline {
  font-size: 5.2vw;
  color: $color-primary;
  font-weight: 400;
  text-align: center;
  padding: 4rem 0 4rem 0;
}
@media (min-width: 650px) {
  .features__headline {
    font-size: 3.6rem;
    padding: 4rem 0 6rem 0;
  }
}
